# ignore R session & data files
.Rproj.user
.Rhistory
.RData
.RDataTmp
.Ruserdata
# ignore large data files
data/molecular/raw_files
data/molecular/
# ignore figure folders
figures/tiff_files/
figures/venn_diagrams/
# maybe will change above later
# will delete this folder later, but for now hosts random images
unknown_sample_investigation/
code/old_code
# ignore image files for now
*.jpeg
*.png
*.pdf