# ignore R session & data files
.Rproj.user
.Rhistory
.RData
.RDataTmp
.Ruserdata
# ignore large data files
# (this will likely be renamed and reorganized later)
data/molecular/Bac_counts_taxonomy_cleanedup.csv
# will delete this folder later, but for now hosts random images
misc_to_ignore/